* {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  background: url(../assets/background/background.jpg) repeat center center fixed;
  background-size: cover;
  color: #fff;
  min-height: 100vh;
}

body:hover {
  transform: none !important;
  box-shadow: none !important;
}

.logo_adris {
  max-height: 100px;
}

.carousel-inner {
  border-radius: 5px;
}

.carousel-inner img {
  height: 200px;
  object-fit: cover;
}

.menu-item {
  text-align: justify;
}

footer {
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  position: sticky;
  bottom: 0;
  text-align: center;
}

.ti-widget {
  width: 100%;
  max-height: auto;
}

.social_media_container {
  margin-top: 10px;
}

.social_media_ig {
  width: 40px;
  height: 40px;
}
